//- html
//- head
//-    title search
//-    body
//-       form(action = "/search", method = "POST")
//-       div
//-          label(for = "Mobile_name") Model Name: 
//-          input(name = "Mobile_name")
//-       br
//-       div
//-          label(for = "Weight") Weight(g): 
//-          input(name = "Weight")
//-       br
//-       div
//-          label(for = "Battery_capacity") Battery Capacity(maH): 
//-          input(name = "Battery_capacity")
//-       br
//-       div
//-          label(for = "Screen_size") Screen Size(inches): 
//-          input(name = "Screen_size")
//-       br
//-       div
//-          label(for = "Ram") Ram: 
//-          input(name = "Ram")
//-       br
//-       div
//-          label(for = "Internal_storage") Internal Storage(GB): 
//-          input(name = "Internal_storage")
//-       br
      
//-       button(type = "submit") Create new model


html
  head
    title search
  body
    form(action='/search', method='POST')
    div
      label(for='Mobile_name') Model Name: 
      input(name='Mobile_name')
    br
    div
      label(for='Weight') Weight(g): 
      input(name='Weight')
    br
    div
      label(for='Battery_capacity') Battery Capacity(maH): 
      input(name='Battery_capacity')
    br
    div
      label(for='Screen_size') Screen Size(inches): 
      input(name='Screen_size')
    br
    div
      label(for='Ram') Ram: 
      input(name='Ram')
    br
    div
      label(for='Internal_storage') Internal Storage(GB): 
      input(name='Internal_storage')
    br
    button(type='submit') Create new model
